# build output
.next
out
.cache

# dependencies
node_modules

# editors
.vscode
.idea

# OS junk
.DS_Store

# env
.env*
# Include the example .env file
!.env.example

# uploads
public/uploads
uploads
